*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: auto;
    backgroumage: url(/images/oEdpRw.jpg);
    background-repeat: no-repeat;
    
}
.comfort{
    font-style: italic;
    color: blue;

}
