* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    background-image: url(/images/oEdpRw.jpg);
    background-repeat: no-repeat;
}

.comfort {
    font-style: italic;
    color: blue;
}

.parent {
    margin-top: 10px;
    margin-bottom: 0;
    height: 670px;
    padding: 0;
    background-size: cover;
}

.Names {
    float: right;
}

.Male {
    font-style: oblique;
    color: rgb(255, 0, 34);
}

.female {
    font-style: oblique;
    color: rgb(255, 0, 0);
}

.head {
    font-style: italic;
    text-align: center;
    color: brown;
}

body {
    text-align: center;
}

.start {
    color: gold;
}

.sec {
    color: gold;
}

.text-md-right {
    color: honeydew;
}